.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    min-height: 500px;
    /* height: 500px; */
}

/* .card{
    width:30%
} */
.loader{
    min-height: 30rem;
    display: flexbox;
    justify-items: center;
}